.calculator {
  width: 300px;
  margin: 40px auto;
  background-color: #f0f8e2;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.calculator input,
.display {
  width: 90%;
  margin: 0 auto 15px auto;
  height: 60px;
  background-color: #c5d7a6;
  color: #333;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.buttons button {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Botones numeros */
.buttons button:not(.operator):not(.equal):not(.clear):not(.extra) {
  background-color: #cde3b0;
  color: #000;
}


.operator {
  background-color: #f7941d;
  color: white;
  font-weight: bold;
}


.equal {
  grid-column: span 2;
  background-color: #f7941d;
  color: white;
  border-radius: 12px;
}


.clear {
  background-color: #e1ddb6;
  color: #000;
}

/* Botones especiales como %, +/- */
.extra {
  background-color: #d1e2c4;
  color: #000;
}

.buttons button:hover {
  transform: scale(1.05);
}


.standalone-button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.standalone-button.default {
  background-color: #cde3b0;
  color: #000;
}

.standalone-button.operator {
  background-color: #f7941d;
  color: white;
  font-weight: bold;
}

.standalone-button.clear {
  background-color: #e1ddb6;
  color: #000;
}

.standalone-button.equal {
  background-color: #f7941d;
  color: white;
  border-radius: 12px;
  width: 130px;
}

.standalone-button.extra {
  background-color: #d1e2c4;
  color: #000;
}

.standalone-button:hover {
  transform: scale(1.05);
}
.calculator {
  transform: scale(0.85);
  transform-origin: top center;
}
